body {
	background-color: #e8e7e3;
	font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
	color: #333;
}

h1, h2, h3 {
	font-weight: 300;
}
h4, h5 {
	font-weight: 400;
}

a {
	color: #009f94;
	text-decoration: none;
	outline: 0;
}

a:hover {
	color: #00b7aa;
	text-decoration: underline;
}

a.link-main {
	color: #009f94 !important;
	font-weight: 600 !important;
}

li {
	list-style: none;
}

.profile-pic img {
	width: 22px;
	height: auto;
	margin-right: 10px;
}

.main-nav > li.active > a {
	background-color: #565656;
}

.gridster li {
	list-style: none;
}

.txt-center {
	text-align: center;
}

.login-box > form > span {
	height: 60px;
	line-height: 60px;
	display: block;
}

.login-box input {
	width: 90% !important;
}

.login-box .btn {
	width: 95% !important;
}

.login-box hr {
	margin: 0 !important;
}

.in-password {
	margin-top: 10px;
}

.intro-txt {
	margin-top: 30px;
}
.intro-txt span {
	color: #707070;
}
.intro-txt span i {
	margin-right: 20px;
	margin-left: 20px;
}

.box-shadow {
	-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

.center-box {
	background-color: #ffffff;
	margin: 30px auto 0 !important;
	padding-bottom: 8px;
	float: none;
}

.center-box fieldset {
	padding: 4% 4% 0 4%;
}

.center-box input, .center-box button {
	padding: 10px;
}

.center-box hr {
	margin: 4% 0 0;
}

.center-box span {
	margin-left: 0;
}

.center-box .btn-primary {
	width: 100%;
}

.register-box .in-username {
}

.register-box .btn-availability {
	margin: 24px 0 0;
}

#alert {
	display: none;
}

/* widgets */
/*
 .widget-shadow{
 -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
 -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
 box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
 }
 */

.gadgets .span4 {
	width: 300px !important;
}

/* override bootstrap*/
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #00b7aa, #009f94);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00b7aa), to(#009f94));
	background-image: -webkit-linear-gradient(top, #00b7aa, #009f94);
	background-image: -o-linear-gradient(top, #00b7aa, #009f94);
	background-image: linear-gradient(to bottom, #00b7aa, #009f94);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00b7aa', endColorstr='#ff009f94', GradientType=0);
	border-color: #009f94 #009f94 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #009f94;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #ffffff;
	background-color: #009f94;
	*background-color: #00b7aa;
}
.btn-primary:active, .btn-primary.active {
	background-color: #00b7aa \9;
}

.btn-primary {
	/*font-size: 150%;*/
}
.btn-large {
	font-size: 150% !important;
}

footer hr {
	border-color: #d6d6d6;
}

input, button, select, textarea {
	font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
}

.navbar-static-top {
	width: auto;
}

/* make gridster responsive */

/* Gridster styles */
.gadgets {
	/*margin: 3em 0;
	 padding: 7.5em 0 5.5em;
	 */
}

.gadgets:hover .gridster {
	opacity: 1;
}

.gridster {
	/*
	 * width: 1170px;
	 margin: 0 auto;
	 */
	/* opacity: .8;

	 -webkit-transition: opacity .6s;
	 -moz-transition: opacity .6s;
	 -o-transition: opacity .6s;
	 -ms-transition: opacity .6s;
	 transition: opacity .6s;
	 */
}
/*
[data-col="1"] {
	left: 0 !important;
}*/

.gridster .gs_w {

	cursor: pointer;
}
.widget {
	background: #FFF;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.widget .widget-header {
	width: auto;
	display: block;
	overflow: hidden;
	padding: 10px;
	height: 35px;
	border-bottom: 1px solid rgba(0,0,0,0);
	position: relative;
}

.widget .widget-header h2 {
	font-size: 18px;
	width: auto;
	float: left;
	line-height: 35px;
	margin: 0;
}

.gridster .widget .widget-header:hover {
	border-bottom: 1px solid #ccc;
	background: #f5f6f7;
	overflow: hidden;
	border-radius: 6px 6px 0 0;
}
.gridster .widget  .widget-header:hover .show-options {
	display: none;
}
.gridster .widget  .widget-header:hover .widget-controls {
	display: block;
}

.widget-header .show-options {
	margin-top: 10px;
	position: absolute;
	right: 15px;
	text-align: right;
	top: 10px;
	width: 40px;
}

.widget-header .widget-controls {
	margin-top: 10px;
	position: absolute;
	right: 15px;
	text-align: right;
	top: 10px;
	width: 100px;
}
.gridster .widget .widget-header .widget-controls {
	display: none;
}

.gridster .gs_w .widget-header .widget-controls li {
	display: inline;
}
.widget-header .widget-controls a {
	color: #aaa;
}
.widget-header .widget-controls a:hover {
	color: #333;
	text-decoration: none;
}

.widget .widget-content {
	/*width: 95%;*/
	padding: 10px;
	margin: 0 auto;
	overflow: hidden;
	/*height:auto !important;*/
	height: 100%;
}
.gridster .widget .widget-content > iframe {
	width: 100%;
	overflow-y: hidden;
}

.gridster .player {
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.gridster .preview-holder {
	border: none !important;
	border-radius: 0 !important;
	background: rgba(255,255,255,.2) !important;
}

.store .widget {
	height: auto;
	margin-bottom: 30px;
	position: relative;
}

.store .widget-header {
	font-size: 18px;
	margin: 0;
	padding: 0 0 0 10px;
	height: 45px;
}

.store .widget-controls {
	margin-top: 0;
}

.store .btn-primary {
	font-size: 100%;
}

.store .widget-header h4 {
	margin-top: 10px;
}

.store .widget-content {
	position: relative;
	height: 105px;
}

.store .widget-preview {
	position: absolute;
	left: 10px;
	width: 80px;
}

.store .widget-intro {
	position: absolute;
	right: 10px;
	left: 100px;
}
.store .widget-intro p {
	overflow-y: scroll;
	font-size: 12px;
	height: 75px;
}

.store .widget-by {
	display: block;
	margin-top: -8px;
}

.store .widget-footer {
	line-height: 50px;
	clear: both;
	display: block;
	height: 50px;
	border-top: 1px solid #ccc;
	background: #f5f6f7;
	border-radius: 0 0 6px 6px;
	padding-left: 10px;
	position: relative;
}

.store .widget-footer .btn, .store .widget-footer .widget-rating, .store .widget-footer .widget-added {
	position: absolute;
}

.store .widget-footer .btn {

	left: 10px;
	top: 10px;
}

.store .widget-rating {
	right: 100px;
	width: 80px;
}

.store .widget-rating li {
	display: inline;
	margin-right: -6px;
}

.store .widget-footer .widget-added {
	right: 10px;
	color: #aaa;
}

.header {
	margin-bottom: 20px;
	height: 60px;
	line-height: 60px;
	position: relative;
	background-color: #fff !important;
	background-image: none !important;
}

.header .span8 * {
	margin-top: 0;
	margin-bottom: 0;
	text-align: right;
}
.header h1 {
	font-size: 32px;
}

.header .gadget-search{
	text-align: left;
}

.header .gadget-search {
	margin-left: 20px;
}

.btn-avatar {
	margin-left: 0;
}

.profile-box h2 {
	margin: -5px 0 0 0;
}
.profile-box .img-avatar {
	width: 100%;
}
.profile-box .btn-avatar {
	padding: 5px;
	margin-top: 3px;
}

.modal-body {
	position: relative;
	/*min-height: 350px;*/
}
.modal-header h3 small {
	font-size: 12px;
	margin-left: 20px;
}
.modal-left {
	position: absolute;
	width: 140px;
	left: 0;
	background: #F5F6F7;
	top: 0;
	bottom: 0;
	padding-right: 20px;
	padding-top: 20px;
}
.modal-left h4 {
	font-size: 12px;
}
.modal-left .widget-rating {
	margin-left: 0;
}
.modal-left .widget-rating li {
	display: inline;
	margin-right: -4px;
}
.modal-left .gadget-preview {
	width: 100%;
}
.modal-left .btn-primary {
	margin-top: 10px;
	width: 100%;
}
.modal-right {
	left: 170px;
	padding-top: 15px;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
}
.modal-right h5 {
	font-size: 12px;
	font-weight: 600;
}

.modal-reviews ul {
	bottom: 120px;
	margin-left: 0;
	overflow-y: scroll;
	position: absolute;
	top: 60px;
	height: auto;
}
.modal-reviews ul li {
	border-bottom: 1px solid #F5F6F7;
	display: block;
	float: left;
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: 95%;
}
.modal-reviews ul li span {
	float: right;
}
.modal-reviews ul li span img {
	width: 20px;
	margin-right: 10px;
}
.modal-reviews ul li span small {
	color: #AAAAAA;
	margin-left: 10px;
}
.modal-right form {

}
.modal-right form textarea {
	left: 0;
	position: absolute;
	bottom: 46px;
	width: 100%;
	height: 60px;
	padding: 0;
	font-size: 12px;
}
.modal-right form button {
	right: 0;
	position: absolute;
	bottom: 10px;
}
.modal-right p, .modal-right span {
	font-size: 12px;
}

.modal-gadget {
	width: 700px;
	margin-left: -350px;
}
.modal-gadget .modal-body {
	min-height: 450px;
}

.modal-gadget .tab-content {
	overflow: visible;
}

.modal-gadget-status{
	border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
     -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    color: #CCCCCC;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 62px;
    width: 120px;
}

.nav > li > a {
	outline: none;
}

.reviews-loading{
	text-align:center;
}
.reviews-loading img{
	margin-right:10px;
}
.store-gadget-title:hover{
	cursor: pointer;
}


.gadget-add-success{
	text-align:center;
	color:#009F94;
}

/* responsive styles */

@media (max-width: 500px) {
	.navbar form * {
		/*width:80% !important;*/
		/*margin: 0 auto !important;*/
	}
	.header .span8 * {
		text-align: center;
	}
	.link-add-gadget-location {
		left: 20px;
		position: absolute;
		right: 20px;
		top: 70px;
		
	}
	.header {
		height: 180px !important;
	}

	.header .gadget-search{
		position: absolute;
		top: 110px;
		left: 20px;
		right:30px;
		margin-left:0;
		text-align:left;
	}
	
	.header .form-inline button{
		position: absolute;
		right:20px;
		width:20px;
		top:110px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.center-box input, .center-box button {
		padding: 0;
	}

	.center-box .btn-primary {
		padding: 10px;
	}

	h1 {
		font-size: 34px;
	}

	.center-box label, .center-box button {
		font-size: 80%;
	}

}

@media (max-width: 768px) {
	.center-box input {
		padding: 0 0 0 8px;
	}
	.header .span4:after {
		border-bottom: 1px solid #ccc;
		content: "";
		display: block;
	}
	.modal {
		margin: 0 !important;
		width: auto;
	}
	.header {
		height: 120px;
	}
	.header .gadget-search{
		margin-left:0;
	}
}

@media (min-width: 979px) and (max-width: 1200px) {
	[data-col="2"] {
		left: 320px !important;
	}
	[data-col="3"] {
		left: 640px !important;
	}
}
@media (min-width: 1200px) {
	.gadgets .span4 {
		width: 370px !important;
	}
	[data-col="3"] {
		left: 800px !important;
	}
}

@media (max-width: 979px) {
	.gadgets .span4 {
		width: 100% !important;
	}

	.store .widget-rating, .store .widget-footer .btn, .store .widget-added {
		width: 100%;
		text-align: center;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	.store .widget-rating {
		height: 20px;
		top: -10px;
	}
	.store .widget-footer .btn {
		top: 30px;
		width: 90%;
	}
	.store .widget-added {

		top: 45px;
	}
	.store .widget-footer {
		height: 85px;
	}

}
